
/* .chord  {
  width: 410px;
  height: 410px;
  border: solid #ddd 1px;
  border-radius: 5px;
  border-collapse: collapse;
} */

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  stroke: #000;
  stroke-width: .25px;
  fill-opacity: 0.9;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
  fill-opacity: 0.9;
}

path.fade {
  display: none;
}

table {
  border-collapse: collapse;
}
th {
  background-color:green;
  Color:white;
}
th, td {
  width:50px;
  text-align:center;
  border:1px solid black;
  padding:5px

}
.geeks {
  border-right:hidden;
}
.gfg {
  border-collapse:separate;
  border-spacing:0 1px;
}